# DSE I1020 — Python Fundamentals (60 min)
*Date:* 2025-09-08  
*Use in:* Google Colab

This live notebook alternates **instructions (Markdown)** and **code solutions**.  
Estimated timing per section is shown in headers.


**Note:** This is the **student version**. Code cells are intentionally blank—fill them in during class.

## 0. Warm-up & Setup (≈3 min)

**Do this:**  
1. Run the next cell to verify Python and print a greeting.  
2. If running in Colab, confirm you see output below the cell.

In [1]:
# TODO: implement based on the instructions above
import sys
print("Hello DSE, python verison")

Hello DSE, python verison

## 1. Variables & Naming (≈6 min)

**Instruction:**  
Create variables `course = "DSE I1020"`, `enrolled = 32`, `room = None`, and `is_monday = True`.  
Then reassign `enrolled` to `enrolled + 3` and print a summary line using an f-string.

In [1]:
# TODO: implement based on the instructions above
course = "DSE I1020"
enrolled = 32
room = None
is_monday = True
enrolled = enrolled + 3
print(f"Course: {course}, Enrolled: {enrolled}, Room: {room}, Is Monday: {is_monday}")

Course: DSE I1020, Enrolled: 35, Room: None, Is Monday: True

## 2. Core Types (int, float, bool, str, None) (≈6 min)

**Instruction:**  
1. Make a list `vals = [42, 3.14, True, "data", None]`.  
2. Loop through `vals` and print each value and its `type`.  
3. Convert `3.14` to `int` and `"123"` to `int` and print results.

In [10]:
# TODO: implement based on the instructions above
vals = [42, 3.14, True, "data", None]
print([(val, type(val)) for val in vals])

new_float = int(3.14)
new_int = int("123")
print(new_float, new_int)

[(42, <class 'int'>), (3.14, <class 'float'>), (True, <class 'bool'>), ('data', <class 'str'>), (None, <class 'NoneType'>)]
3 123

## 3. Operators (arithmetic, comparison, logical) (≈6 min)

**Instruction:**  
Use variables `a = 7`, `b = 3`.  
1. Compute and print: `a + b`, `a / b`, `a // b`, `a % b`, `a ** b`.  
2. Show comparisons: `a > b`, `a == 7`, `b != 0`.  
3. Use logical ops to check that `a > b and b > 0`.

In [14]:
# TODO: implement based on the instructions above
a =7
b = 3
print(a+b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)
print(a>b)
print(a==7)
print(b!=0)
print(a>b)
print(b>0)

10
2.3333333333333335
2
1
343
True
True
True
True
True

## 4. Conditionals: testing variable values (≈6 min)

**Instruction:**  
Write code that sets `x = 12`.  
- If `x` is even, print `"even"`; otherwise print `"odd"`.  
- Then print `"multiple of 3"` if true.

In [15]:
# TODO: implement based on the instructions above
x=12
if x % 2 == 0:
  print("even")
else:
    print("odd")
if x % 3 == 0:
  print("multiple of 3")

even
multiple of 3

## 5. Control Flow: if–elif–else (≈5 min)

**Instruction:**  
Given a numeric score `s`, print a letter grade using:  
- A (>= 90), B (>= 80), C (>= 70), D (>= 60), else F.  
Test with `s = 86`.

In [16]:
# TODO: implement based on the instructions above
s = 86
if s >= 90:
  print("A")
elif s >= 80:
  print("B")
elif s >= 70:
  print("C")
elif s >= 60:
  print("D")
else:
  print("F")

B

## 6. `while` Loops (≈6 min)

**Instruction:**  
Use a `while` loop to compute the **smallest** `n` such that the cumulative sum `1+2+…+n` exceeds 200.  
Print `n` and the sum.

In [17]:
# TODO: implement based on the instructions above
cum_num =0
n = 0
while cum_num < 200:
  n += 1
  cum_num += n
  print(n, cum_num)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55
11 66
12 78
13 91
14 105
15 120
16 136
17 153
18 171
19 190
20 210

## 7. `for` Loops & iteration (≈6 min)

**Instruction:**  
1. Using a `for` loop, compute the sum of **even** numbers from 1 to 50 (inclusive).  
2. Then build a list of squares for numbers 1..10 using a list comprehension.

In [18]:
# TODO: implement based on the instructions above
for num in range(10):
  print(num**2)
print([num**2 for num in range(1,11)])

0
1
4
9
16
25
36
49
64
81
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## 8. Functions (def, parameters, return) (≈8 min)

**Instruction:**  
Write a function `stats(nums)` that returns `(count, total, mean)` for a list of numbers.  
Test it with `nums = [3, 5, 9, 10]`.  
Then write `is_prime(n)` that returns `True`/`False` and test it for `n in [2, 15, 17]`.

In [12]:
# TODO: implement based on the instructions above
def stats(nums):
  count = len(nums)
  total = sum(nums)
  mean = total/count
  return count, total, mean

nums = [3, 5, 9, 10]
stats(nums)

(4, 27, 6.75)

In [13]:
y = stats(nums)
print(y)

(4, 27, 6.75)

In [21]:
def is_prime(n):
  for i in range(2, n):
    if n % i == 0:
      return False
  return True

## 9. Mini-Challenge: combine concepts (≈8 min)

**Instruction:**  
**FizzBuzz-ish**  
Write a function `label(n)` that returns:  
- `"fizzbuzz"` if divisible by both 3 and 5,  
- `"fizz"` if divisible by 3,  
- `"buzz"` if divisible by 5, else the number as a string.  
Use a `for` loop to print labels for 1..20 on one line.

In [24]:
# TODO: implement based on the instructions above
def label(n):
  if n % 3 == 0 and n % 5 == 0:
    return "fizzbuzz"
  elif n % 3 == 0:
    return "fizz"
  elif n % 5 == 0:
    return "buzz"
  else:
    return str(n)
for i in range(1, 21):
    print(label(i), end=' ')

1 2 fizz 4 buzz fizz 7 8 fizz buzz 11 fizz 13 14 fizzbuzz 16 17 fizz 19 buzz

### References
- *Scipy Lecture Notes* — Python basics; control flow; functions
- VanderPlas, *Python Data Science Handbook*, 2e — Language basics & Jupyter
- McKinney, *Python for Data Analysis*, 2e — Python basics & control flow
- Allen Downey, *Elements of Data Science* (online notebooks)